@using TestTaskRT.Shared.DAL
@inherits CreateDepartmentDialogComponent

@if (IsResponseAwaiting)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
}
else
{
<RadzenTemplateForm Data="@NewDepartment" Submit="@(async (DepartmentModel model) => { await Submit(model); })">
    <div class="row">
        <div class="col-md-12">
            <RadzenFieldset Text="New department">
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Title"/>
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox @bind-value="NewDepartment.Title" style="width: 100%;" Name="Title"/>
                    </div>
                </div>
            </RadzenFieldset>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save"/>
            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel"/>
        </div>
    </div>
</RadzenTemplateForm>
}